

<!---<li><%= cat.birth_date %></li>
<li><%= cat.color %></li>
<li><%= cat.name %></li>
<li><%= cat.sex %></li>
<li><%= cat.description %></li>
<li><a href="/cats">return to cats</a></li>--->



<table>
  <tbody>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
    <tr>
      <th>Age</th>
      <th><%= cat.age %></th>
    </tr>
    <tr>
      <th>Birth Date</th>
      <th><%= cat.birth_date %></th>
    </tr>
    <tr>
      <th>Color</th>
      <th><%= cat.color %></th>
    </tr>
    <tr>
      <th>Sex</th>
      <th><%= cat.sex %></th>
    </tr>
  </tbody>
</table>